[Unit]
Description=Tidepool CGM API to MQTT
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=%%USER%%
ExecStart=/usr/bin/env python %%PATH%%/sugard.py %%PATH%%/creds/
